@import "tailwindcss";

@theme {
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001F;
  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
}

* {
  font-family: var(--font-outfit);
}

a {
  font-family: var(--font-ovo);
}

.bg-lightHover {
  background-color: var(--color-lightHover);
}

.bg-darkHover {
  background-color: var(--color-darkHover);
}

.bg-darkTheme {
  background-color: var(--color-darkTheme);
}

.shadow-black {
  box-shadow: var(--shadow-black);
}

.shadow-white {
  box-shadow: var(--shadow-white);
}

.grid-cols-auto {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

body.dark {
  --color-lightHover: #2a004a;
  --color-darkHover: #fcf4ff;
  --color-darkTheme: #ffffff;
  --shadow-black: 4px 4px 0 #fff;
  --shadow-white: 4px 4px 0 #000;
}
